html{
    font-family: 'Segoe UI';
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

#logout{
    margin: 0;
    height: 50px;
    width: 21vw;
    background-color: white;
    font-weight: bold;
}
#logout:hover {
     font-weight: bolder;
     cursor: pointer;
     background-color: rgb(240, 164, 164);
}

input{
    font-family: 'Segoe UI';
    width: 100%;
    height: 2em;
    border: 2px solid black;
    border-radius: 6px;
}

textarea{
    font-family: 'Segoe UI';
    width: 100%;
    height: 150px;
    resize: none;
    border: 2px solid black;
    border-radius: 6px;
}

h2{
    margin-top: .5vw;
    margin-bottom: .5vw;
}

p{
    border: 2px solid black;
    border-radius: 6px;
    padding: .25vw;
    margin-top: .5;
}

hr{
    width: 100%;
}

.formwrapper{
    flex-direction: column;
    padding: .5vw;
    margin: 0;
    border: 2px solid black;
    border-radius: 6px;
    min-width: 20vw;
    max-width: 100%;
}

#messages {
    display: flex;
    flex-direction: column;
    gap: .5vw;
}

.disabled{
    visibility: hidden;
}

.message{
    flex-direction: column;
    padding: .5vw;
    margin: 0;
    border: 2px solid black;
    border-radius: 6px;
    height: max-content;
}

.titlebar{
    display: flex;
    width: 43vw;
    height: min-content;
    flex-direction: row;
    justify-content: space-between;
}

form{
    padding: 0;
    margin: 0;
}

label{
    max-width: 20vw;
}

.button{
    font-weight: bold;
    border: 2px solid black;
    background-color: white;
    border-radius: 6px;
    height: 50px;
    width: 100%;
}

.button:hover{
    background-color: rgb(172, 252, 183);
    cursor: pointer;
    transition: ease-in-out 0.25s;
    font-weight: bolder;
}

.button:disabled{
    background-color: rgb(240, 164, 164);
    cursor: default;
}

.addbutton{
    height: 50px;
    width: 50px;
    aspect-ratio: 1/1;
    background-image: url("../images/plus.svg");
    border: 2px solid black;
    border-radius: 6px;
    transition: ease-in-out 0.25s;
    background-color: white;
}

.addbutton:hover{
    background-color: rgb(172, 252, 183);
    cursor: pointer;
    transition: ease-in-out 0.25s;
    font-weight: bolder;
}

.addbutton:disabled{
    background-color: rgb(240, 164, 164);
    cursor: default;
}

.deletebutton{
    height: 50px;
    width: 50px;
    aspect-ratio: 1/1;
    background-image: url("../images/delete-closed.svg");
    border: 2px solid black;
    border-radius: 6px;
    transition: ease-in-out 0.25s;
    background-color: white;
}

.deletebutton:hover {
    cursor: pointer;
    background-image: url("../images/delete-open.svg");
    background-color: rgb(240, 164, 164);
}

.deletebutton:disabled {
    background-image: url("../images/delete-closed.svg");
    background-color: rgb(240, 164, 164);
    color: black;
    cursor: default;
}

.visiblebutton {
    height: 50px;
    width: 50px;
    aspect-ratio: 1/1;
    border: 2px solid black;
    border-radius: 6px;
    transition: ease-in-out 0.25s;
    background-color: white;
}

.visiblebutton:disabled {
    background-color: rgb(240, 164, 164);
    color: black;
    cursor: default;
}

.state0 {
    background-image: url(../images/notvisible.svg);
}

.state1 {
    background-image: url(../images/visible.svg);
}

.state0:not(:disabled):hover {
    background-image: url(../images/visible.svg);
    cursor: pointer;
}

.state1:not(:disabled):hover {
    background-image: url(../images/notvisible.svg);
    cursor: pointer;
}

.buttonrow {
    display: flex;
    flex-direction: row;
    gap: 5px;
    max-width: 20vw;
    width: 100%;
    margin-top: 10px;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;         
    flex-direction: row;     
    justify-content: space-between;                
}

.user {
    margin-bottom: 20px;
    padding: .5vw;
    border: 2px solid black;
    border-radius: 6px;
    width: 21vw;
    background-color: white;
}

.column {
    padding: .5vw;
    display: flex;
    gap: .5vw;
    flex-direction: row;
    flex-wrap: wrap;
    width: min-content;
    min-width: 500px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: white;
}
